[Unit]
Description=Trad Web Dashboard
After=network.target

[Service]
ExecStart=/srv/trad/dashboard/.venv/bin/python3 /srv/trad/dashboard/app.py
WorkingDirectory=/srv/trad/dashboard
Restart=always
User=root
Group=root
EnvironmentFile=/etc/trad/trad.env
StandardOutput=append:/var/log/trad-dashboard.log
StandardError=append:/var/log/trad-dashboard.log

[Install]
WantedBy=multi-user.target
