[Unit]
Description=Trad Trading Bot
After=network.target

[Service]
ExecStart=/srv/trad/.venv/bin/python3 /srv/trad/main.py
WorkingDirectory=/srv/trad
Restart=always
User=root
Group=root
EnvironmentFile=/etc/trad/trad.env

[Install]
WantedBy=multi-user.target
